.dots {
  animation: load 5s infinite;
}

@keyframes load {
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.dots .dot {
  background-color: var(--text-color);
  width: 25px;
  height: 25px;
}
